#newTaskHolderContainer .newTaskHolder{
    min-height: 3rem;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    padding-left: 2.5rem /* 40px */;
    padding-right: 2.5rem /* 40px */;
    --tw-bg-opacity: 1;
    background-color: rgb(71 85 105 / var(--tw-bg-opacity)) /* #475569 */;
    align-items: center;
    margin-top: 0.25rem /* 4px */;
    border-radius: 0.25rem /* 4px */;
}

#newTaskHolderContainer .newTaskHolder ul{
    font-size: 1rem;
}